<!DOCTYPE html>
<html>
<head>
  <title>Znamenitosti</title>
  <meta charset="UTF-8">
  <meta name="author" content="Lorena Martinović">
  <meta name="keywords" content="landmarks,open data">
  <meta name="discription" content="Open data for landmarks">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <h4><b>PRETRAGA</b></h4>
    <hr>
  </div>
  <div class="w3-bar-block">
    <form action="/datatable" method="post">
      <div class="w3-bar-block">
        <label class="w3-bar-item" for="searchterm">Vrijednost koju tražite</label>
        <input type="text" class="w3-bar-item" id="searchterm" name="searchterm" aria-describedby="searchterm" placeholder="Unesite vrijednost">
      </div>
      <div class="w3-bar-block">
          <label class="w3-bar-item" for="searchattr">Polje po kojem želite pretraživati</label>
          <select class="w3-bar-item" name="searchattr">
              <option value="">Odaberite polje za pretragu</option>
              <% for (attr of attributes2) { %>
                  <option value="<%=attr.sql%>"><%= attr.display %></option>
              <% } %>
          </select><br><br>

          <button class="w3-bar-item w3-submit w3-btn" id="submit" type="submit">Pretraži</button>
      </div>
    </form>
    <div class="w3-section w3-padding-16">
      <button href="/data/landmarks.json" download="landmarks" class="w3-bar-item" id="csv"><span>JSON</span></button>
      <button href="/data/landmarks.csv" download="landmarks" class="w3-bar-item" id="json"><span>CSV formatu</span></button>  
    </div>
  </div>
</nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <div class="w3-container">
    <h1><b>Znamenitosti</b></h1>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <table id="table" class="w3-table-all" style="width: 100%;">
      <thead>
        <tr>
          <% for (attr of attributes2) {%>
          <th scope="col"><%= attr.display %></th>
          <% }  %> 
        </tr>
      </thead>
      <tbody id="tbody">
          <% for (row of rows) {%> 
              <tr>
              <% for (attr of attributes) {%>
                <td><%= row[attr] %></td>
              <% } %>
              </tr>
          <% } %> 
        </tbody>
    </table>
  </div>
</body>
</html>